@media screen and (max-width: 991px) {
  #collect_art .collect_art_content {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #collect_art .img_container .circle {
    width: 130px;
    bottom: 70px;
  }

  #collect_art .text_container {
    text-align: center;
  }

  #collect_art .text_container .numeric_container {
    justify-content: center;
  }

  #collect_art .collect_art_content {
    gap: 60px;
  }

  #nft_art .nft_art_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }

  #top_collection .top_collection_content {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #top_collection .middle {
    border-right: none;
  }

  #sell_nft .sell_nft_content {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  #collect_art .text_container button {
    padding: 10px 20px;
    background: #3d00b7;
    font-size: 15px;
    margin: 25px 0 20px;
  }

  #collect_art .collect_art_content {
    gap: 30px;
  }

  #sell_nft .text_container {
    align-items: center;
  }

  #sell_nft .text_container .sell_paragraph {
    text-align: center;
  }

  #sell_nft .text_container button {
    padding: 15px 20px;
    font-size: 15px;
  }

  #sell_nft .text_container {
    gap: 15px;
  }
}

@media screen and (max-width: 575px) {
  #collect_art .img_container .circle {
    width: 120px;
    bottom: 60px;
  }

  #collect_art .img_container .images {
    width: 70%;
    margin: auto;
  }

  #collect_art .img_container .lower_part {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #collect_art .img_container .lower_part::after {
    left: unset;
    width: 70%;
  }

  #nft_art .nft_art_content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
  }
}

@media screen and (max-width: 400px) {
  #collect_art .img_container .circle {
    width: 90px;
    bottom: 50px;
  }
}

@media screen and (max-width: 363px) {
  #collect_art .text_area h2 {
    font-size: 18px;
  }
}
